.margintop{
 margin-top: 12%;
}
.text-style
{
  margin-bottom: 50px;
  font-family: "Manrope", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #9e9e9e;
}
.imgs-fluid {
  max-width: 80%;
 // height: 50%;


}
.box-shadow{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.Bg-container {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
}

.slide-in-left {
  transform: translateX(-100%);
}

.slide-in-left-active {
  transform: translateX(0);
}
.element{
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 3px;
}

.borderColor {
  border-style: solid; /* Ajoutez cette ligne pour spécifier le style de bordure */
  border-width: 2px;
  border-color: #e87d07;
}
.backgroundImage {
  background-image: url('../../assets/images/Dark_web.jpg');
  background-size: cover; /* Pour couvrir toute la zone de l'élément */
  background-position: center; /* Pour centrer l'image */
  height: 600px;
}
