
<!--  <div style="position: relative;">
  <img src="../../assets/images/developing-programmer-.jpg" width="100%" height="500px" alt="">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
    <h1 class="w-100">Création de Sites Web et Applications Mobiles</h1>
    <h4 class="fw-normal">WMS est spécialisé dans la conception, la création et la maintenance de sites web et mobile, ainsi que dans le référencement SEO et SEA.</h4>
  </div>
</div>
 -->


 <div class="position-relative">
  <img src="../../assets/images/developing-programmer-.jpg" alt="Image" width="100%" height="500px">
  <div class="position-absolute margintop top-0 start-0  text-white p-2 ms-md-5 ms-0 col-md-6 col-12">
    <h1 class="mb-0" [@fadeInOut]>Création de Sites Web et Applications Mobiles</h1>
    <h4 class="fw-normal" [@fadeInOut]>WMS est spécialisé dans la conception, la création et la maintenance de sites web et mobile, ainsi que dans le référencement SEO et SEA.</h4>
<button [@fadeInOut] class="btn mt-3 rounded-start rounded-5 bg-white text-dark border  fw-semibold   col-6 col-md-4 col-lg-3 fs-5 "> Voir plus <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
  <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
</svg></button>
  </div>
</div>
<div class="bg-white p-2 my-3">

<h1 class="text-center  fw-normal fs-2">Découvrez nos services pour développer</h1>
<h2 class="fw-semibold text-center  fs-3"> votre présence sur internet</h2>
<div class="container mt-5 mb-2">
<div class="row ">
  <div class="col-md-6 col-lg-3 col-12 col-sm-6 ">
    <div class="text-style  box-shadow">
      <div class="d-flex justify-content-center">
        <img src="./../../assets/images/creation-site-e-commerce-lyon.png" class="imgs-fluid"  >
      </div>
<div class="text-center"> Création site <br>
  e-commerce</div>
    </div>

</div>
<div class="col-md-6 col-lg-3 col-12 col-sm-6">
  <div class="box-shadow text-style">
    <div class="d-flex justify-content-center">
      <img src="./../../assets/images/creation-site-vitrine-lyon.png" class="imgs-fluid" >
    </div>
<div class="text-center"> Création <br>
  de site vitrine</div>
  </div>
</div>
<div class="col-md-6 col-lg-3 col-12 col-sm-6" >
  <div class="box-shadow text-style">
    <div class="d-flex justify-content-center">
      <img src="./../../assets/images/campagnes-publicitaires-facebook-ads-lyon.png" class="imgs-fluid" >
    </div>
<div class="text-center">
  Référencement <br>
  SEO et SEA</div>
  </div>
</div>
<div class="col-md-6 col-lg-3 col-12 col-sm-6" >
  <div class="box-shadow text-style">
    <div class="d-flex justify-content-center">
      <img src="./../../assets/images/formation-webmarketing-lyon.png" class="imgs-fluid" >
    </div>
<div class="text-center"> Maintenance de<br>  sites Web / Mobiles
  </div>
  </div>
</div>
</div>
</div>

</div>
<!-- <div class=" fs-3 container">
  <div [@slideInFromLeft]="animationStarted"> <h4> <hr> A propos de nous</h4> </div>

</div>
 --><!-- <div class="fs-3 container" [@scroll]="scrollPosition > 100 ? 'active' : 'inactive'">
  <div [@slideInFromLeft]="animationStarted"> <h4> <hr> A propos de nous</h4> </div>
</div> -->
<div class="container   fs-3" [@scroll]="scrollPosition > 1800 || scrollPosition >600 ? 'active' : 'inactive'">
 <div class="row">
  <div [@slideInFromLeft]="animationStarted" class="col-md-6 col-12"> <h4 style="font-size: 24px;
    font-weight: 400;" class="text-danger"> A propos de nous</h4>
    <div> <p class="my-5 fw-normal fs-6">   NOUS CRÉONS VOTRE IMAGE GRAPHIQUE ET NOUS DÉVELOPPONS VOS SOLUTIONS WEB ET MOBILE.<br>

      WMS est le spécialiste de la création de site web et mobile en Tunisie. Du simple site web de base jusqu’au site e-commerce, nous avons la solution de conception web pour répondre à vos besoins. Nous offrons des services allant de l’élaboration de stratégies Internet à la création de sites Web offshore, en passant par le référencement sur les moteurs de recherche Google et Bing et par le commerce électronique.

      Ne laissez pas votre site web entre les mains de n’importe qui, confiez-le en toute tranquillité aux spécialistes.</p></div></div>
    <div class="col-md-6 col-12">
<img src="../../assets/images/bg-home.jpg" width="100%" class="rounded-2 shadow-sm mt-3">
    </div>
 </div>

</div>
<div class="container mt-3  fs-3" [@scroll]="scrollPosition > 1800 || scrollPosition >1000 ? 'active' : 'inactive'">
  <div class="row">
    <div class="col-md-6 col-12 mt-5">
      <h4 style="font-size: 24px;
     font-weight: 400;" class="text-danger"> Des solutions Digitales</h4>
      <img src="../../assets/images/bg-digital.jpg" width="100%" height="350px" class="rounded-2 shadow-sm mt-3">
          </div>
   <div [@slideInFromLeft]="animationStarted" class="col-md-6 col-12">
     <div> <p class="my-4 fw-normal fs-6">   NOUS CRÉONS VOTRE IMAGE ET NOUS DÉVELOPPONS VOS SOLUTIONS , METTANT L’ACCENT SUR L’EXCELLENCE DES SOLUTIONS DIGITALES

      Les solutions digitales chez WMS sont bien plus qu’une réponse à l’évolution technologique ; elles sont une clé vers l’efficacité et l’innovation.

      Notre engagement est de guider votre entreprise dans l’ère numérique, en mettant en place des stratégies de digitalisation adaptées à vos besoins spécifiques. De la création de sites web dynamiques à l’élaboration de vitrines en ligne engageantes, en passant par le développement de plateformes e-commerce robustes, nous faisons évoluer votre présence en ligne pour maximiser l’impact. Notre expertise englobe également la gestion efficace des réseaux sociaux, assurant une visibilité optimale et une interaction dynamique avec votre audience. Que vous souhaitiez automatiser des processus, renforcer votre présence en ligne ou explorer de nouveaux horizons numériques, WMS façonne une digitalisation sur mesure pour propulser votre entreprise vers l’avant.</p></div></div>

  </div>

 </div>
 <div class="container mt-3  fs-3" [@scroll]="scrollPosition > 1800 || scrollPosition >1500 ? 'active' : 'inactive'">
  <div class="row">

   <div [@slideInFromLeft]="animationStarted" class="col-md-6 col-12"> <h4 style="font-size: 24px;
     font-weight: 400;" class="text-danger"> Réferencement Web</h4>
     <div> <p class="my-4 fw-normal fs-6"> NOUS ORCHESTRONS VOTRE STRATÉGIE DE RÉFÉRENCEMENT WEB, FORGEANT VOTRE IDENTITÉ VISUELLE DANS UNE APPROCHE AXÉE SUR UNE OPTIMISATION INNOVANTE POUR LE MONDE DIGITAL.

      WMS incarne la révolution du référencement web SEO, redéfinissant la dynamique opérationnelle des entreprises. En tant qu’architectes spécialisés dans votre transformation digitale, nous fusionnons habilement votre identité visuelle avec des solutions numériques innovantes. De la conception de sites web dynamiques à la création de vitrines en ligne captivantes et au développement de plates-formes e-commerce robustes, notre approche holistique maximise votre impact en ligne.

      Notre expertise s’étend également à la gestion efficace des réseaux sociaux, garantissant une visibilité optimale et une interaction dynamique avec votre audience. Que vous aspiriez à automatiser des processus, à renforcer votre présence en ligne ou à explorer de nouveaux horizons numériques, Tanitoss forge une stratégie de référencement web SEO sur mesure pour propulser votre entreprise vers l’avant. Avec nous, le digital devient un allié puissant dans votre quête de croissance et de succès dans l’univers en constante évolution d’aujourd’hui. </p></div></div>
      <div class="col-md-6 col-12 mt-5">
        <img src="../../assets/images/seo-image.jpg" width="100%" height="400px" class="rounded-2 shadow-sm mt-3">
            </div>
  </div>

 </div>
<hr class="text-dark fw-bold">
 <div class="container  mt-3  fs-3" [@scroll]="scrollPosition > 1800 || scrollPosition >1500 ? 'active' : 'inactive'">
  <div class="row">

   <div [@slideInFromLeft]="animationStarted" class="col-md-5 col-12"> <h4 style="font-size: 24px;
     font-weight: 400;" class="text-danger"> A propos nous</h4>
     <h1 class="" style="color: #e87d07;;">WMS</h1>
     <div> <p class="my-4 fw-normal fs-3"> une équipe d'expertise au service de votre performance</p>
    <p class="fs-5 fw-normal" style="font-size: 24px;
    font-weight: 400;">WMS fixe pour principal objectif de produire un travail de qualité et de garantir des résultats satisfaisant au regard de ses clients.

    </p></div></div>

    <div class="col-md-7 col-12 mt-5">
      <div class="row">
          <div class="col-12 d-md-flex">
              <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                  <img src="../../assets/images/solutions.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                  <span class="fw-normal fs-5 mx-2">Design & Impression</span>
              </div>
              <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                  <img src="../../assets/images/appMobile.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                  <span class="fw-normal fs-5 mx-2">Développement Mobile</span>
              </div>
          </div>
          <div class="col-12  d-md-flex">
              <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                  <img src="../../assets/images/webApp.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                  <span class="fw-normal fs-5 mx-2">Développement Web</span>
              </div>
              <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                  <img src="../../assets/images/cloud.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                  <span class="fw-normal fs-5 mx-2">Hébergement</span>
              </div>
          </div>
          <div class="col-12 d-md-flex">
              <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                  <img src="../../assets/images/economie.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                  <span class="fw-normal fs-5 mx-2">Référencement web</span>
              </div>
              <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                  <img src="../../assets/images/connesion.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                  <span class="fw-normal fs-5 mx-2">Services en ligne</span>
              </div>
          </div>
          <div class="col-12 d-md-flex">
            <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                <img src="../../assets/images/gestion.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                <span class="fw-normal fs-5 mx-2">Solutions de Gestion</span>
            </div>
            <div class="col-12 mt-3 col-md-6 d-flex align-items-center">
                <img src="../../assets/images/security.jpg" class="rounded-circle  borderColor" alt="" width="50px" height="50px">
                <span class="fw-normal fs-5 mx-2">Système & Sécurité</span>
            </div>
        </div>
      </div>
  </div>

  </div>

 </div>

 <div class="col-12 container-fluid backgroundImage mt-5 d-flex  align-items-center">
  <div class="col-12 col-md-5 ">
   <h1 class="text-white">Parlez nous de votre projet ?</h1>
  <p class="text-white">Nous serons ravis de discuter ensemble de votre transformation digitale marketing.</p>  </div>
    <div class="col-12 col-md-7">
      <div class="bg-white rounded-3">
        
      </div>
    </div>
</div>
