
<!--  <div style="position: relative;">
  <img src="../../assets/images/developing-programmer-.jpg" width="100%" height="500px" alt="">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
    <h1 class="w-100">Création de Sites Web et Applications Mobiles</h1>
    <h4 class="fw-normal">WMS est spécialisé dans la conception, la création et la maintenance de sites web et mobile, ainsi que dans le référencement SEO et SEA.</h4>
  </div>
</div>
 -->


 <div class="position-relative">
  <img src="../../assets/images/developing-programmer-.jpg" alt="Image" width="100%" height="500px">
  <div class="position-absolute margintop top-0 start-0  text-white p-2 ms-md-5 ms-0 col-md-6 col-12">
    <h1 class="mb-0" [@fadeInOut]>Création de Sites Web et Applications Mobiles</h1>
    <h4 class="fw-normal" [@fadeInOut]>WMS est spécialisé dans la conception, la création et la maintenance de sites web et mobile, ainsi que dans le référencement SEO et SEA.</h4>
<button [@fadeInOut] class="btn mt-3 rounded-start rounded-5 bg-white text-dark border  fw-semibold   col-6 col-md-4 col-lg-3 fs-5 "> Voir plus <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
  <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
</svg></button>
  </div>
</div>
<div class="bg-white p-2 my-3">

<h1 class="text-center  fw-normal fs-2">Découvrez nos services pour développer</h1>
<h2 class="fw-semibold text-center  fs-3"> votre présence sur internet</h2>
<div class="container mt-5 mb-2">
<div class="row ">
  <div class="col-md-6 col-lg-3 col-12 col-sm-6 ">
    <div class="text-style  box-shadow">
      <div class="d-flex justify-content-center">
        <img src="./../../assets/images/creation-site-e-commerce-lyon.png" class="imgs-fluid"  >
      </div>
<div class="text-center"> Création site <br>
  e-commerce</div>
    </div>

</div>
<div class="col-md-6 col-lg-3 col-12 col-sm-6">
  <div class="box-shadow text-style">
    <div class="d-flex justify-content-center">
      <img src="./../../assets/images/creation-site-vitrine-lyon.png" class="imgs-fluid" >
    </div>
<div class="text-center"> Création <br>
  de site vitrine</div>
  </div>
</div>
<div class="col-md-6 col-lg-3 col-12 col-sm-6" >
  <div class="box-shadow text-style">
    <div class="d-flex justify-content-center">
      <img src="./../../assets/images/campagnes-publicitaires-facebook-ads-lyon.png" class="imgs-fluid" >
    </div>
<div class="text-center">
  Référencement <br>
  SEO et SEA</div>
  </div>
</div>
<div class="col-md-6 col-lg-3 col-12 col-sm-6" >
  <div class="box-shadow text-style">
    <div class="d-flex justify-content-center">
      <img src="./../../assets/images/formation-webmarketing-lyon.png" class="imgs-fluid" >
    </div>
<div class="text-center"> Maintenance de<br>  sites Web / Mobiles
  </div>
  </div>
</div>
</div>
</div>

</div>
<!-- <div class=" fs-3 container">
  <div [@slideInFromLeft]="animationStarted"> <h4> <hr> A propos de nous</h4> </div>

</div>
 --><!-- <div class="fs-3 container" [@scroll]="scrollPosition > 100 ? 'active' : 'inactive'">
  <div [@slideInFromLeft]="animationStarted"> <h4> <hr> A propos de nous</h4> </div>
</div> -->
<div class="container fs-3" [@scroll]="scrollPosition > 2200 ? 'active' : 'inactive'">
  <div [@slideInFromLeft]="animationStarted"> <h4> <hr> A propos de nous</h4> </div>
</div>
